.content-wrapper-5{
    background-color: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 20px;
    box-shadow: 2px 2px 20px rgba(116, 116, 116, 0.212);
    padding-bottom: 20px;
    border-radius: 5px;
    justify-content: center;
    display: none;
}

.payment__list{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin-left: 32px;
        margin-top: 32px;
        margin-bottom: 16px;
        min-width: 100%;

        .__item{
            margin-right:2px;
            margin-left: 2px;

            &:hover{
                border-bottom: 1px solid pink;
                margin-bottom: -1px;
            }
        }


        .__link{

        }
        

        .__img{
            
        }
}

